<div class="mx-10 mb-10 bg-neutral-300">
  <p-table [value]="data" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template #header>
        <tr>
          @for (col of tableConfig.columns; track col.code) {
            <td class="text-black px-4 py-2">{{ col.label }}</td>
          }
        </tr>
      </ng-template>
      <ng-template #body let-row>
        <tr [ngClass]=" isFirst(row, data) ">
          @for (col of tableConfig.columns; track col.code; let isFirst = $first) {
            <td>{{ row[col.code] }}</td>
          }
        </tr>
      </ng-template>
  </p-table>
</div>
