:host {
  display: block;
}

.login{
  background-image: url("../../../../../public/login/bg.png");
  background-size: cover;
}

.graduate-regular {
  font-family: "Graduate", serif;
  font-weight: 400;
  font-style: normal;
}
