<div class="bg-black mb-15">
  <img src="/karting/kart.jpg" alt="" class="w-full" />
  <h2
    class="w-full text-center p-7 text-4xl font-secondary font-extrabold text-white bg-orange-600"
  >
    proximo evento de karting
  </h2>
  <div class="text-gray-200 p-8 rounded-xl max-w-2xl mx-auto space-y-6">
    <p class="text-gray-300 text-lg">
      ¡No te pierdas el proximo evento de karting! Ya seas principiante o un
      piloto experimentado, este evento está diseñado para que todos se
      diviertan y compitan en un ambiente lleno de energía.
    </p>

    <div class="card xl:flex xl:justify-content-center">
      <h2 class="mb-7 text-4xl font-extrabold text-orange-600">
        Lista de participantes
      </h2>
      <div class="mb-7">
        <h3 class="text-2xl font-bold text-orange-600">📝 Inscripciones</h3>
        <p class="text-gray-300">
          La inscripción no tiene costo. Puedes registrarte hasta el
          <span class="font-semibold text-gray-100">9 de mayo</span> haciendo
          click en <span class="text-orange-600">Inscribete Ahora</span>.
          <span class="italic">Para poder inscribete debes estar logueado.</span>
        </p>
      </div>
      <p-orderList
        [value]="users()"
        [listStyle]="{ height: '25rem', width: '37.5rem' }"
        [dragdrop]="false"
      >
        <ng-template let-user pTemplate="item">
          <div class="flex flex-wrap p-2 align-items-center gap-3">
            <div class="flex-1 flex flex-column gap-2">
              <span class="font-bold">{{ user.name | titlecase }}</span>
            </div>
          </div>
        </ng-template>
      </p-orderList>
    </div>
    @if (authService.authStatus() === "authenticated") {
    <div class="text-center pt-4">
      <button
        (click)="kartingService.registerUserForNextEvent(authService.user()!)"
        class="inline-block cursor-pointer bg-orange-600 text-black font-bold py-3 px-6 rounded hover:bg-orange-500 transition"
      >
        ¡Inscríbete Ahora!
      </button>
    </div>
    }
    <div class="text-gray-400">
      <h1 class="my-8 text-4xl font-extrabold text-orange-600">
        📍 Punto de encuentro
      </h1>
      <p>
        <span class="text-orange-600 font-semibold">📅 Fecha:</span> Sábado 11
        de mayo
      </p>
      <p>
        <span class="text-orange-600 font-semibold">🕗 Hora:</span> PN (Por la
        noche)
      </p>
      <p>
        <span class="text-orange-600 font-semibold">📍 Lugar:</span> Bowling
        Center Downtown
      </p>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12617.382468683945!2d-3.7943256499999998!3d37.7584935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6dd76b25f2cc9f%3A0xcb178dfe2936a87b!2sParador%20de%20Ja%C3%A9n!5e0!3m2!1ses!2ses!4v1746785792724!5m2!1ses!2ses"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
