<div class="h-screen w-full">
  <img src="/karting/kart.jpg" alt="" class="w-full" />
  <div class="flex flex-row items-center justify-between my-5 mx-10">
    <div class="p-2 w-8/12">
      <h1 class="text-4xl font-extrabold font-secondary">eventos de karting</h1>
    </div>
    <div>
      <button
        (click)="loadEventById()"
        class="pi pi-send rounded p-3 mr-4 bg-neutral-500 hover:bg-neutral-700 cursor-pointer"
      ></button>
      <p-autocomplete
        [(ngModel)]="value"
        [dropdown]="true"
        [suggestions]="filteredItems()"
        (completeMethod)="getAllItems($event)"
        [optionValue]="'event_id'"
        [optionLabel]="'name'"
        [readonly]="true"
      />
    </div>
  </div>
  <app-standard-table
    [tableConfig]="config"
    [data]="data"
    [order]="true"
  />
</div>
