<div [ngClass]="isHomePage()" class="flex items-center justify-center flex-col text-white py-4">
  <div class="my-8">
      <a [routerLink]="['/about-us']" class="mx-4 ">About us</a>
      <a [routerLink]="['/contact']" class="mx-4 ">Contact</a>
  </div>
  <div class="flex flex-row">
    <div class="w-10 mx-2">
      <a href="#">
        <img src="footer\ig.png" alt="Logo de Instagram">
      </a>
    </div>
    <div class="w-10 mx-2">
      <a href="#">
        <img src="footer\ln.png" alt="Logo de Linkedin">
      </a>
    </div>
    <div class="w-10 mx-2">
      <a href="#">
        <img src="footer\x.png" alt="Logo de Twitter">
      </a>
    </div>
  </div>
  <div class="my-8">
    <p>Copyrigth 2025 © - All rigth reserved by ACME Industries Ltd</p>
  </div>
</div>
