<nav class="bg-black text-white flex flex-row items-center justify-between px-4 py-3 fixed top-0 right-0 left-0 z-10">
  <!-- Menu -->
  <div #lqs class="relative w-30 flex flex-row">
    <div>
      <p-tiered-menu #menu [model]="items" [popup]="true" appendTo="lqs" class="absolute left-0 mt-11" />
      <p-button class="p-button-accent" (click)="menu.toggle($event)" icon="pi pi-bars"/>
    </div>
    <img class="ml-4" src="logo\Logo.PNG" alt="Logo de la página web EntreAmigos">
  </div>
  <div>
    <span class="graduate-regular mx-2">
      <a
        [routerLink]="['/']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="hover:text-orange-600"
        >
          home
        </a>
    </span>
    @if (authService.authStatus() !== "authenticated") {
      <span class="graduate-regular mx-2">
        <a
          [routerLink]="['auth/login']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="hover:text-orange-600"
        >
          login
        </a>
      </span>
    }
    @if (authService.authStatus() === "authenticated") {
      <span>
        <p-toast position="bottom-right"/>
        <p-confirmpopup #cp class="prueba">
            <ng-template #headless let-message>
                <div class="rounded p-4">
                    <span>{{ message.message }}</span>
                    <div class="flex items-center gap-2 mt-4">
                        <p-button (onClick)="cp.onAccept()" label="Logout" size="small" />
                        <p-button (onClick)="cp.onReject()" label="Cancel" [text]="true" size="small" severity="secondary" />
                    </div>
                </div>
            </ng-template>
        </p-confirmpopup>
        <p-button class="font-secondary" (onClick)="confirm($event)">
          <div class="flex items-center flex-row gap-2">
            <span>{{ authService.user()?.name }}</span>
            <i class="pi pi-sign-out"></i>
          </div>
        </p-button>
      </span>
    }
  </div>
</nav>
