:host {
  display: block;
}

.graduate-regular {
  font-family: "Graduate", serif;
  font-weight: 400;
  font-style: normal;
}

.active{
  color: orangered;
}

:host ::ng-deep {
  .p-confirmpopup .p-confirmpopup:after,.p-confirmpopup .p-confirmpopup:before {
    bottom: 100%;
    left: 14rem !important;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
}
