:host {
  display: block;
}

.graduate-regular {
  font-family: "Graduate", serif;
  font-weight: 400;
  font-style: normal;
}

.active{
  color: orangered;
}

::ng-deep .p-confirmpopup:before {
    bottom: 100%;
    left: 13rem !important;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

::ng-deep .p-confirmpopup:after {
    bottom: 100%;
    left: 13rem !important;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
