:host {
  display: block;
}

#jaen{
  background-image: url("../../../../../public/bowling/jaen.jpg");
  background-size: cover;
}

#cordoba{
  background-image: url("../../../../../public/bowling/cordoba.webp");
  background-size: cover;
}

#malaga{
  background-image: url("../../../../../public/bowling/malaga.jpg");
  background-size: cover;
}

#madrid{
  background-image: url("../../../../../public/bowling/madrid.jpg");
  background-size: cover;
}
