<div class="bg-neutral-300 pb-5 flex justify-center items-center flex-col">
  <img src="/bowling/bowling.jpg" alt="" class="w-full" />
  <div class="w-full mb-7 p-4 bg-black text-center bg-gradient-to-r from-black to-orange-600">
    <h1 class="text-5xl font-secondary">clasificacion temporada 2025</h1>
  </div>
  <div class="mb-5 w-full 3xl:w-3/4">
    <app-standard-table [tableConfig]="config" [data]="data" />
  </div>
  <div class="grid grid-cols-2 gap-2 w-3/4 3xl:w-2/4 mb-10">
    <div id="jaen" class="h-80"></div>
    <div id="cordoba" class="h-80"></div>
    <div id="malaga" class="h-80"></div>
    <div id="madrid" class="h-80"></div>
  </div>
</div>
