<div>
  <h1 class="font-secondary w-full text-center text-4xl pb-5">
    administrar usuarios
  </h1>
</div>
<div class="h-screen w-full flex justify-center items-center fondo">
  <p-toast position="bottom-right" />
  <div class="bg-black h-80 w-2/4 3xl:w-1/3 rounded-xl p-10 overflow-y-scroll">
    @for (user of adminService.users()!; track user.id) {
      <div class="hover:bg-neutral-800 flex items-center justify-between h-12 p-5 text-xl">
        <p>{{ user.name | titlecase }}</p>
        <button
          class="cursor-pointer btn btn-error"
          (click)="deleteUser(user.id)"
        >
          Eliminar
        </button>
      </div>
    }
  </div>
</div>
