<div class="bg-neutral-300 pb-5 flex flex-col items-center justify-center">
  <img src="/padel/padel.jpg" alt="" class="w-full" />
  <div
    class="w-full mb-7 p-4 bg-black text-center bg-gradient-to-r from-black to-orange-600"
  >
    <h1 class="text-5xl font-secondary">clasificacion temporada 2025</h1>
  </div>
  <div class="my-5 w-full 3xl:w-3/4">
    <app-standard-table [tableConfig]="config" [data]="data" [order]="true" />
  </div>
  <div class="w-full 3xl:w-10/12 mb-7 text-center">
    <h1 class="text-5xl p-4 mx-10 3xl:text-6xl font-secondary bg-black">
      pistas de la temporada
    </h1>
  </div>
  <div class="space-y-12 mx-auto mt-5 px-6 w-3/4 3xl:w-8/12">
    <div class="flex flex-col md:flex-row items-center md:items-start">
      <img
        src="/padel/salobreja.jpg"
        alt="Circuito de Granada"
        class="w-full md:w-1/2 3xl:h-90 object-cover rounded-lg shadow-md md:mr-10 mb-6 md:mb-0"
      />
      <div class="text-black md:w-1/2">
        <h2 class="text-3xl font-bold text-orange-600 mb-4">
          Pista de la Salobreja
        </h2>
        <p class="mb-3 text-lg">
          Uno de los circuitos más
          <span class="text-orange-600 font-semibold">emocionantes del sur</span
          >, ideal para <span class="italic">principiantes</span> y
          <span class="italic">profesionales</span>.
        </p>
        <p class="text-lg">
          Equipado con
          <span class="font-medium text-orange-600">karts modernos</span>,
          seguridad de alto nivel y un ambiente competitivo que no te dejará
          indiferente. 🏆
        </p>
      </div>
    </div>

    <div class="flex flex-col md:flex-row items-center md:items-start">
      <img
        src="/padel/forus.jpg"
        alt="Circuito de Almeria"
        class="w-full md:w-1/2 3xl:h-80 object-cover rounded-lg shadow-md md:mr-10 mb-6 md:mb-0"
      />
      <div class="text-black md:w-1/2">
        <h2 class="text-3xl font-bold text-orange-600 mb-4">
          Pista del Forus
        </h2>
        <p class="mb-3 text-lg">
          Un trazado
          <span class="text-orange-600 font-semibold">rápido y técnico</span>,
          perfecto para grupos, empresas y competiciones amistosas.
        </p>
        <p class="text-lg">
          Su <span class="font-semibold">accesibilidad</span> y entorno moderno
          lo convierten en una de las mejores opciones del centro de Andalucía.
        </p>
      </div>
    </div>

    <div class="flex flex-col md:flex-row items-center md:items-start">
      <img
        src="/padel/entrecaminos.jpg"
        alt="Circuito de Málaga"
        class="w-full md:w-1/2 3xl:h-90 object-cover rounded-lg shadow-md md:mr-10 mb-6 md:mb-0"
      />
      <div class="text-black md:w-1/2">
        <h2 class="text-3xl font-bold text-orange-600 mb-4">
          Pista de Entrecaminos
        </h2>
        <p class="mb-3 text-lg">
          Con vistas al mar y un trazado técnico, este circuito combina
          <span class="text-orange-600 font-semibold"
            >naturaleza y velocidad</span
          >
          como ningún otro.
        </p>
        <p class="text-lg">
          Ideal para <span class="italic">familias</span>,
          <span class="italic">eventos</span> y
          <span class="italic">entusiastas</span> del motor que buscan algo
          único.
        </p>
      </div>
    </div>
    <div class="mb-10 flex flex-col md:flex-row items-center md:items-start">
      <img
        src="/padel/funpadel.jpg"
        alt="Circuito de Málaga"
        class="w-full md:w-1/2 3xl:h-80 object-cover rounded-lg shadow-md md:mr-10 mb-6 md:mb-0"
      />
      <div class="text-black md:w-1/2">
        <h2 class="text-3xl font-bold text-orange-600 mb-4">
          Pista de la UJA
        </h2>
        <p class="mb-3 text-lg">
          Con vistas al mar y un trazado técnico, este circuito combina
          <span class="text-orange-600 font-semibold"
            >naturaleza y velocidad</span
          >
          como ningún otro.
        </p>
        <p class="text-lg">
          Ideal para <span class="italic">familias</span>,
          <span class="italic">eventos</span> y
          <span class="italic">entusiastas</span> del motor que buscan algo
          único.
        </p>
      </div>
    </div>
  </div>
</div>
